
@{
    ViewBag.Title = "Index";
}

<div classs="row">
    <div class="col-xs-12"">
        <h3>Reports</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" style="margin-bottom:10px">
        <a href="@Url.Action("Inventory", "Reports")" class="links">Inventory Report</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="@Url.Action("Sales", "Reports")" class="links">Sales Report</a>
    </div>
</div>


